<!DOCTYPE html>
<title>@ViewBag.Title</title>
<html lang="en">


<!-- Mirrored from radixtouch.in/templates/snkthemes/grexsan/source/light/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 Jul 2020 11:30:35 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Unity Safalata</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="../assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/components.css">
    <link rel="stylesheet" href="../assets/bundles/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="../assets/bundles/flag-icon-css/css/flag-icon.min.css">
    <!-- Custom style CSS -->

    <link rel='shortcut icon' type='image/x-icon' href='../WebsiteCss/images/febi.jpg' />


</head>

<body>
    <div class="loader"></div>
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar">
            <div class="form-inline mr-auto">
                <ul class="navbar-nav mr-3">
                    <li>
                        <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn">
                            <i class="fas fa-bars"></i>
                        </a>
                    </li>

                </ul>
            </div>
            <ul class="navbar-nav navbar-right">
            

                <li class="dropdown">
                    @if (Session["ProfilePic"]=="")
                    {
                        <a href="#" data-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            @*<img alt="image" src="../assets/img/users/user.png" class="user-img-radious-style">*@

                            <img alt="image" src="../assets/img/users/user.png" alt="" style="height:30px;width:30px">

                            <span class="d-sm-none d-lg-inline-block"></span>
                        </a>
                    }
                    else
                    {
                        <a href="#" data-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="@Session["ProfilePic"]" class="user-img-radious-style">
                            <span class="d-sm-none d-lg-inline-block"></span>
                        </a>
                    }

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-title">@Session["Name1"] </div>
                        <div class="dropdown-title">  Joining -  (@Session["JoiningDate"])</div>
                        <a href="/User/ViewProfile" class="dropdown-item has-icon">
                            <i class="far fa-user"></i> Profile
                        </a>
                     
                        <a href="/Profile/ChangePassword" class="dropdown-item has-icon">
                            <i class="fas fa-key"></i> Change Password
                        </a>
                        @*<a href="#" class="dropdown-item has-icon">
                    <i class="fas fa-cog"></i> Settings
                </a>*@
                        <div class="dropdown-divider"></div>
                        <a href="/Home/Login" class="dropdown-item has-icon text-danger">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="main-sidebar sidebar-style-2">
            <aside id="sidebar-wrapper">
                        <div class="sidebar-brand">
                            <a href="../../User/AssociateDashBoard">
                                <img alt="image" src="../WebsiteCss/images/logo.png" class="header-logo" style="width: 100%; margin-top: -15px;" />
                                @*<span class="logo-name">Unity Safalata</span>*@
                            </a>
                        </div>
                        <ul class="sidebar-menu">
                            <li class="dropdown active" style="display: block;">
                                <div class="sidebar-profile">
                                    @if (Session["ProfilePic"] == "")
                                    {
                                        <div class="siderbar-profile-pic">
                                            <img src="../assets/img/users/user.png" class="profile-img-circle box-center" alt="User Image">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="siderbar-profile-pic">
                                            <img src="@Session["ProfilePic"]" class="profile-img-circle box-center" alt="User Image">
                                        </div>
                                    }
                                    <div class="siderbar-profile-details">
                                        <div class="siderbar-profile-name"> @Session["Name1"] </div>
                                        @*<div class="siderbar-profile-position">Manager </div>*@
                                    </div>

                                </div>
                            </li>
                            @*<li class="menu-header">Main</li>*@

                            <li><a class="nav-link" href="/User/AssociateDashBoard"><i class="fas fa-boxes"></i><span>DashBoard</span></a></li>

                            @*<li><a class="nav-link" href="/User/Registration"><i class="fas fa-boxes"></i><span>Sign Up</span></a></li>*@
                            <li class="dropdown">
                                <a href="#" class="nav-link has-dropdown"><i class="fab fa-atlassian"></i><span>Profile</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/User/ViewProfile">View Profile</a></li>
                                    <li><a class="nav-link" href="/KYCDocuments/KYCDocuments">Upload KYC</a></li>
                                    <li><a class="nav-link" href="/Profile/ChangePassword">Change Password</a></li>
                                    @*<li><a class="nav-link" target="_blank" href="/User/AcceptanceForm">Acceptance Form</a></li>*@
                                </ul>
                            </li>


                            <li class="dropdown">
                                <a href="#" class="nav-link has-dropdown"><i class="fas fa-envelope-open-text"></i><span>Team</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/User/BinaryTree">Tree</a></li>
                                    <li><a class="nav-link" href="/Downline/DirectList">Direct</a></li>
                                    @*<li><a class="nav-link" href="/Downline/DirectListL2">Direct L2</a></li>*@
                                    <li><a class="nav-link" href="/Downline/DownLineList">Downline</a></li>
                                </ul>
                            </li>

                            @*<li><a class="nav-link" href="/User/UserReward"><i class="fas fa-boxes"></i><span>Recognition</span></a></li>*@


                            <li class="dropdown">
                                <a href="#" class="nav-link has-dropdown">
                                    <i class="fas fa-shopping-bag"></i><span>
                                        Payout
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/Wallet/PayoutLedger">Payout Wallet Ledger</a></li>
                                    <li><a class="nav-link" href="/UserReports/UnPaidIncomes">Unpaid Income</a></li>
                                    <li><a class="nav-link" href="/UserReports/PayoutReport">Payout Report</a></li>
                                    <li><a class="nav-link" href="/UserReports/PaidPayoutDetails">Payout Paid Details</a></li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link has-dropdown">
                                    <i class="fas fa-file"></i><span>
                                        Reports
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/UserReports/BusinessReport">Business Report</a></li>
                                    @*<li><a class="nav-link" href="/UserReports/TopupReport">Product Details</a></li>
                                <li><a class="nav-link" href="/UserReports/DCMIReport">DCMI Reports</a></li>*@

                                </ul>
                            </li>
                            @*<li class="dropdown">
                            <a href="#" class="nav-link has-dropdown">
                                <i class="fas fa-shopping-bag"></i><span>
                                    Product Payout
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" href="/UserReports/UnPaidProductIncomes">Unpaid Income</a></li>
                                <li><a class="nav-link" href="/UserReports/ProductPayoutReport">Payout Report</a></li>
                                <li><a class="nav-link" href="/UserReports/ProductBusinessReport">Business Report</a></li>

                            </ul>
                        </li>*@




                        </ul>
            </aside>
        </div>
        <!-- Main Content -->
        <div class="main-content">
            <div class="card">
                <div class="card-body">
                    @RenderBody()
                </div>
            </div>
        </div>

        <footer class="main-footer">
            <div class="footer-left">
                Copyright &copy; 2020 <div class="bullet"></div>
            </div>
            <div class="footer-right">
            </div>
        </footer>
    </div>
    <!-- General JS Scripts -->
    <script src="../assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="../assets/bundles/echart/echarts.js"></script>

    <script src="../assets/bundles/chartjs/chart.min.js"></script>
    <script src="../assets/bundles/apexcharts/apexcharts.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="../assets/js/page/index.js"></script>
    <!-- Template JS File -->
    <script src="../assets/js/scripts.js"></script>
    <script src="../assets/bundles/jquery.sparkline.min.js"></script>

</body>


<!-- Mirrored from radixtouch.in/templates/snkthemes/grexsan/source/light/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 Jul 2020 11:32:43 GMT -->
</html>